extends layout
  
block content
  script(src="/javascripts/jquery-2.2.1.js")
  script(src="/javascripts/view.index.js")
  
  h1= title
  p Welcome to #{title}
  .wrapper
    #bookshelf(class="carousel slide" data-ride="carousel")
      // ol(class="indicators")
      // div(class="inner" role="listbox")