extends layout

block content
  link( rel = 'stylesheet' href= '/stylesheets/fontello.css' )
  script( src = '/javascripts/jquery-2.2.1.js' )
  script( src = '/javascripts/eventListeners.js' )
  script( src = '/javascripts/index.js' )
  script( src = '/javascripts/delay.js' )
  script( src = '/javascripts/modal.js' )
  script( src = '/javascripts/request.js' )
  script( src = '/javascripts/catalog.js' )

  <noscript> For full functionality of this site it is necessary to enable JavaScript. Here are the <a href='http://www.enable-javascript.com/'' target='_blank'> instructions how to enable JavaScript in your web browser</a>.</noscript>

  nav
    h1= title
    div( class = 'search-container' )
      input( id = 'search', type = 'text', placeholder = 'Search...', value = '' )
    div( class = 'filter-container' )
      select( id = 'filter' )
        - var bookshelf = [ 'Category', 'Comedic Fiction', 'Erotica', 'Fantasy', 'Historical Fiction', 'Horror', 'Literary Fiction', 'Mystery', 'New Adult', 'Nonfiction', 'Romance', 'Science Fiction', 'Thriller', 'War/Military Fiction', 'Western', 'Women\'s Fiction', 'Young Adult' ]
        each book in bookshelf
          if book == 'Category'
            option( value = '') #{ book }
          else
            option( value = book ) #{ book }
    div( class = 'view-container' )
      input( type = 'radio', name = 'views', value = 'list', id = 'grid', checked = 'checked' )
      label( class = 'icon-grid', for = 'grid' )
      input( type = 'radio', name = 'views', value = '', id = 'list' )
      label( class = 'icon-list', for = 'list' )
    div( class = 'cart-container' )
      label( class = 'icon-cart', for = 'cart' )

  p Welcome to #{ title }
  .wrapper
    div( class = 'loader' )
    #bookshelf
    input( id = 'cart', type = 'checkbox' )
    #side-cart( class = 'list' )
      div( id = 'cart-title' ) Shopping Cart
      div( id = 'cart-empty' ) Your cart is empty
    button( id = 'top', class = 'icon-up', href = '#top' )
