@font-face {
    font-family: SegoeUI_SL;
    src: url(segoeuisl.ttf);
}

body {
  padding: 50px;
  font-family: SegoeUI_SL;
}

a {
  color: #00B7FF;
}

.cover {
	height: 10%;
	width: 10%;
}

.large_cover {
    height: 50%;
    width: 50%;
}

tr{
	width: 33%;
}

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
    max-width:500px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#close {
    position:absolute;
    background:url(../images/close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}