/* top right bottom left */

@font-face {
  font-family: SegoeUI_SL;
  src: url(segoeuisl.ttf);
}

body {
  background-attachment: fixed;
  background-image: url(../images/background.jpg);
  font-family: SegoeUI_SL;
  padding: 48px;
}

nav {
  align-items: center;
  background-image: url(../images/background.jpg);
  display: flex;
  flex-wrap: wrap;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

h1 {
  order: 0;
  margin: 12px;
}

.searchbar {
  flex: 1;
  margin: 12px;
  order: 1;
}

.searchbar #search {
  width: 100%;
}

.filterbar {
  margin: 12px;
  order: 2;
}

.filterbar #filter {
  width: 100%;
  border-radius: 6px;
}

.views {
  margin: 12px;
  order: 2;
}

.views .grid {
  height: 30px;
  border-radius: 12px 0px 0px 12px;
}

.views .list {
  height: 30px;
  border-radius: 0px 12px 12px 0px;
  margin-left: -1px;
}

.selectedview {
  background-color: gray;
  color: #fff;
}

.book {
  border-radius: 10px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 396px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 250px;
}

.book:before {
  -webkit-filter: blur(2px);
  background-image: linear-gradient(to bottom right, white, white);
  border-radius: 0px 0px 10px 10px;
  bottom: 0px;
  content: '';
  left: 0;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 63%;
}

button {
  background-color: #fff;
  border: 2px solid gray;
  width: 50px;
  height: 50px;
  color: gray;
  font-weight: bold;
  outline: none;
}

.add_to_cart {
  border-radius: 50%;
  margin: 6px;
}

button:hover {
  background-color: gray;
  color: #fff;
}

button:active {
  background-color: #fff;
  color: gray;
}

.book > .add_to_cart {
  display: none;
  right: 0px;
  position: absolute;
  top: 0px;
}

.book:hover .add_to_cart{
  display: block;
}

.id {
  display: none;
}

.book > .cover {
  width: 100%;
  height: 100%;
}

.book > .title {
  bottom: 28%;
  font-size: 1.5em;
  font-weight: bold;
  left: 10px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book > .author {
  bottom: 23%;
  left: 20px;
  position: absolute;
}

.book > .short_desc {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  left: 10px;
  right: 10px;
  position: absolute;
  top: 77%;
}

.book > .long_desc {
  display: none;
}

.genre {
  display: none;
}

#bookshelf.list > .book {
  border-radius: 0px;
  border-bottom: solid;
  border-color: gray;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 1px;
  height: 132px;
  margin: 0px;
  width: 100%;
}

#bookshelf.list > .book:before {
  all: unset;
}

#bookshelf.list .cover {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  float: left;
  height: 100%;
  left: 0px;
  margin-right: 12px;
  width: 100px;
}

#bookshelf.list .title {
  bottom: auto;
  left: auto;
  margin: 0px 0px 6px 6px;
  position: relative;
  right: auto;
}

#bookshelf.list .author {
  bottom: auto;
  display: block;
  left: auto; 
  margin-bottom: 6px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bookshelf.list .short_desc {
  -webkit-line-clamp: 3;
  left: auto;
  position: relative;
  right: auto;
  top: auto;
}

#overlay {
  background: #000;
  filter: alpha(opacity=50);
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#modal {
  background: rgba(0,0,0,0.2);
  border-radius: 14px;
  max-width: 768px;
  padding: 8px;
  position: absolute;
  z-index: 3;
}

#content {
  background: #fff;
  border-radius: 8px;
  float: left;
  padding: 20px;
}

#content > .cover {
  float: left;
  height: 100%;
  margin-right: 20px;
  position: relative;
  width: auto;
}

#content > .title {
  font-size: 1.5em;
  font-weight: bold;
}

#content > .short_desc {
  display: none;
}

#content > .add_to_cart {
  bottom: 0px;
  margin: 24px;
  position: absolute;
  right: 0px;
}

#close {
  background: url(../images/close.png) 0 0 no-repeat;
  display: block;
  height: 27px;
  position: absolute;
  right: -7px;
  text-indent: -9999px;
  top: -7px;
  width: 24px;
}