@font-face {
    font-family: SegoeUI_SL;
    src: url(segoeuisl.ttf);
}

body {
  padding: 50px;
  font-family: SegoeUI_SL;
}

label {
  float: left;
  width: 10em;
  margin-right: 1em;
}

li {
    margin-left: 10px;
    display: inline;
    float: right;
}

select {
    width: 169px;
}

img.cover {
    position: relative;
    float: left;
	height: 100%;
	width: auto;
    margin-right: 20px;
}

.book {
    position: relative;
    float: left;
    width: 250px;
    height: 396px;
    border-radius: 12px;
    border-style: dotted;
    border-width: 1px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.book:before {
  content: '';
  position: absolute;
  top: 63%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, white, white);
  opacity: .8;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.book .title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    position: absolute;
    bottom: 28%;
}

.book .author {
    color: black;
    position: absolute;
    bottom: 23%;
    padding-left: 20px;
}

.book .short_desc {
    color: black;
    position: absolute;
    top: 77%;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(255,255,255);
  border: 2px solid rgb(0,0,0);
  color: rgb(0,0,0);
  text-align: center;
  font-size: 12px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1;
}

#modal {
    position: absolute;
    background: rgba(0,0,0,0.2);
    border-radius: 14px;
    padding: 8px;
    max-width: 768px;
    z-index: 1;
}

#content {
    float: left;
    border-radius: 8px;
    background: #fff;
    padding: 20px;
}

#content .title {
    font-size: 1.5em;
    font-weight: bold;
}

#content button {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

#close {
    position: absolute;
    background: url(../images/close.png) 0 0 no-repeat;
    width: 24px;
    height: 27px;
    display: block;
    text-indent: -9999px;
    top: -7px;
    right: -7px;
}